@{
    ViewBag.Title = "CheckAdmin";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Samsung</title>
            <link href="~/bootstrap.css" rel="stylesheet" />
             <script src="~/bootstrap.js"></script>
               <style>
            body
            {
                background-color:gray;
            }

        </style>
        </head>
    <body >
        <nav class="navbar navbar-default" role="navigation">

       <div class="navbar-header">
           <a href="#" > <img src="~/Images/mono.png"/></a>
        <a class="navbar-brand" href="#" ><strong > SAMSUNG</strong><br /> PRODUCTS</a>
               
       </div>
       <div>

             <ul class="nav navbar-nav">
                    <li ><a href="/Home/Index">Home</a></li>
                    <li ><a href="/Home/Help"> Help</a></li>
                    <li ><a href="https://www.facebook.com/ahmed.shair.908?ref=tn_tnmn"> About Us</a></li>              
                           
                </ul>
           
           
                       <form class="navbar-form navbar-left pull-right" role="search">
           <a href="/Home/Index"><button type="button" class="btn btn-warning "> Log out</button></a>
                                            <div class="form-group">
                                <input type="text" placeholder="search"  class="form-control"/>
                            </div>
                            <button type="submit" class="btn btn-success">Submit</button>
                       </form>
                         
            </div>
      </nav>
        
         <div class="row">
            <div class="col-md-3">
              <div class="list-group">

                @*  <a href="#" class="list-group-item active">Catagories</a>
                  <a href="/MobilePhone/mobAll" class="list-group-item">Mobile Phones</a>
                  <a href="/Laptop/lapAll" class="list-group-item ">Laptops</a>
                  <a href="/Tablet/" class="list-group-item ">Tablets</a>
                  <a href="/Television/tvAll" class="list-group-item ">TV's</a>
                  <a href="/Camera/camAll" class="list-group-item ">Cameras</a>
                  <br />*@
                 
              </div>
            </div>
             <div class="col-md-6">
           <h2 style="text-align:center">Welcome Administrator. To Upload New Product  OR Show Uploaded Products Select Option Here  </h2>
                 <br /><br /><a href="/Product/upload"><button type="button" class="btn btn-info pull-right"> Upload</button></a> &nbsp;<spanc>*</spanc>
                 <a href="/Product/Display"><button type="button" class="btn btn-info pull-right">To Show All Items</button></a>

@*            <div class="col-md-3" >
   
                <div class="row-fluid">

                    <div class="span4">
                        <div class="well">
                            <a href="/MobilePhone/mob1">
                                <img class="img-polaroid" src="~/images/imgg1.png" alt="NotFound" style="height:140px; width:140px" />

                            </a>
                            <h4>Samsung Galaxy Ace 240</h4>
                            <p>19000 Rs</p>
                        </div>

                    </div>

                </div>


                <div class="row-fluid">

                    <div class="span4">
                        <div class="well">
                            <a href="/Camera/cam1">
                                <img class="img-polaroid" src="~/images/imgg2.png" alt="NotFound" style="height:140px; width:140px" />

                            </a>
                            <h4>Samsung Nikon 390</h4>
                            <p>7500 Rs</p>
                        </div>

                    </div>

                </div>


                <div class="row-fluid">

                    <div class="span4">
                        <div class="well">
                            <a href="/Laptop/lap1">
                                <img class="img-polaroid" src="~/images/imgg4.png" alt="NotFound" style="height:140px; width:140px" />

                            </a>
                            <h4>Samsung Series 7 300E5z-Ao5AE i5</h4>
                            <p>35000 Rs</p>
                        </div>

                    </div>

                </div>

                <div class="row-fluid">

                    <div class="span4">
                        <div class="well">
                            <a href="/Tablet/tab1">
                                <img class="img-polaroid" src="~/images/imgg6.png" alt="NotFound" style="height:140px; width:140px" />

                            </a>
                            <h4>Samsung N5</h4>
                            <p>19000 Rs</p>
                        </div>

                    </div>

                </div>


           </div>

                <div class="col-md-3" >
                     <div class="span4">
                        <div class="well">
                            <a href="/MobilePhone/mob2">
                                <img class="img-polaroid" src="~/images/imgg3.png" alt="NotFound" style="height:140px; width:140px" />

                            </a>
                            <h4>Samsung Gaxaxy Note3</h4>
                            <p>26000 Rs</p>
                        </div>
                    </div>


                    <div class="row-fluid">

                    <div class="span4">
                        <div class="well">
                            <a href="/Camera/cam2">
                                <img class="img-polaroid" src="~/images/imgg9.png" alt="NotFound" style="height:140px; width:140px" />

                            </a>
                            <h4>Samsung Nikon N700</h4>
                            <p>6500 Rs</p>
                        </div>

                    </div>

                </div>
                    
                    <div class="row-fluid">

                    <div class="span4">
                        <div class="well">
                            <a href="/Laptop/lap2">
                                <img class="img-polaroid" src="~/images/imgg7.png" alt="NotFound" style="height:140px; width:140px" />

                            </a>
                            <h4>Samsung Series 3 300E5z-Ao5AE i3</h4>
                            <p>47000 Rs</p>
                        </div>

                    </div>


                        <div class="row-fluid">

                    <div class="span4">
                        <div class="well">
                            <a href="/Tablet/tab2">
                                <img class="img-polaroid" src="~/images/imgg11.png" alt="NotFound" style="height:140px; width:140px" />

                            </a>
                            <h4>Samsung LG60</h4>
                            <p>23000 Rs</p>
                        </div>

                    </div>

                </div>

                </div>

                   </div>


                <div class="col-md-3" >
                     <div class="span4">
                        <div class="well">
                            <a href="/MobilePhone/mob3">
                                <img class="img-polaroid" src="~/images/imgg5.png" alt="NotFound" style="height:140px; width:140px" />

                            </a>
                            <h4>Samsung E9X249</h4>
                            <p>23000 Rs</p>
                        </div>

                    </div>

                    <div class="row-fluid">

                    <div class="span4">
                        <div class="well">
                            <a href="/Camera/cam3">
                                <img class="img-polaroid" src="~/images/imgg10.png" alt="NotFound" style="height:140px; width:140px" />

                            </a>
                            <h4>Samsung Nikon 50XLG</h4>
                            <p>13000</p>
                        </div>

                    </div>

                </div>


                    <div class="row-fluid">

                    <div class="span4">
                        <div class="well">
                            <a href="/Laptop/lap3">
                                <img class="img-polaroid" src="~/images/imgg8.png" alt="NotFound" style="height:140px; width:140px" />

                            </a>
                            <h4>Samsung Series 3 300E5A Core i5</h4>
                            <p>45000 Rs</p>
                        </div>

                    </div>

                </div>


                    <div class="row-fluid">

                    <div class="span4">
                        <div class="well">
                            <a href="/Tablet/tab3">
                                <img class="img-polaroid" src="~/images/imgg12.png" alt="NotFound" style="height:140px; width:140px" />

                            </a>
                            <h4>Samsung s-Note</h4>
                            <p>32000 Rs</p>
                        </div>

                    </div>

                </div>


                  



                </div>*@
             @*  <a href="#"> <img src="~/images/imgg1.png"  alt="Samsung Galaxy Note"/></a>
                <img src="~/images/imgg2.png"  alt="Samsung Galaxy Note"/>
                <img src="~/images/imgg3.png"  alt="Samsung Galaxy Note"/><br /><br /><br /><br /><br />
                <img src="~/images/imgg4.png"  alt="Samsung Galaxy Note"/>
                <img src="~/images/imgg5.png"  alt="Samsung Galaxy Note"/>
                <img src="~/images/imgg6.png"  alt="Samsung Galaxy Note"/>*@
            </div>
            

        </div>
        <br /><br /><br />  <br /><br /><br /><br /><br /><br />  <br /><br /><br /><br /><br /><br />  <br /><br /><br /><br /><br />

                <nav class="navbar navbar-default" role="navigation">

       <div class="navbar-header">
           <a href="#" > <img src="~/Images/mono.png"/></a>
        <label>Copyright © 2014 Allwebco Design Corporation All rights reserved.</label>
               <a href="/Home/login"> Term of Use</a> 
           <label> || </label>
               <a href="/Home/add">Privacy Policy</a>
    </div>
            <div>

               
                       <form class="navbar-form navbar-left pull-right" role="search">
                             
                            <a href="https://www.facebook.com/ahmed.shair.908?ref=tn_tnmn"> Contact Us</a>
                   
                          </form>
                         
            </div>
      </nav>
    </body>
    </html>