@{
    ViewBag.Title = "cam2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>

        
<div id="content">
        





<div class="container">
   
    <div>
    </div>
    <img class="img-polaroid" src="~/Images/imgg9.png" alt="NotFound" style="height: 140px ;width: 140px">
          <br /><br />
    <table class="table table-striped">

    <tbody><tr>
        <td><strong>Name: </strong></td>
        <td>Samsung Nikon N700</td>
    </tr>

    <tr>
        <td><strong>Brand: </strong></td>
        <td>2</td>
    </tr>

    <tr>
        <td><strong>Description: </strong></td>
        <td><textarea disabled="disabled" style="resize:vertical;width: 80%; height:auto">            DSLR with (18-55mm LENS)
        </textarea> 
        </td>
    </tr>

    <tr>
        <td><strong>Price:</strong></td>
        <td>6500</td>
    </tr>

    <tr>
        <td></td>
        <td></td>
    </tr>


</tbody></table>
    
    <form class="form-horizontal" style="margin-top: 30px" method="post" id="1609073864">
  

  <div class="control-group">
   <label class="control-label" for="Quantity">Quantity:</label>
    <div class="controls">
    
        <input class="input-medium" type="text" placeholder="Number of Items" name="Quantity" data-val-required="Quantity is required" data-val="true">
        <span class="field-validation-valid" data-valmsg-for="Quantity" data-valmsg-replace="true"></span>
    </div>
  </div>
        <input type="hidden" name="Price" value="79000">
        <input type="hidden" name="Id" value="1">
        <input type="hidden" name="Name" value="NikonD3200          ">

          <br /><br />
    <div class="control-group">
    <div class="controls">
        <a href="/Home/Index"><button type="button" class="btn btn-primary">Add To Cart</button></a>
    </div>
  </div>

         
</form>


    
</div>
        </div>



<!-- javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/Scripts/jquery-1.6.2.js"></script>
<script src="/Scripts/jquery.validate.js"> </script>
<script src="/Scripts/jquery.validate.unobtrusive.js"></script>
       
        
    </body>
