@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
    <head>
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <script src="~/Scripts/bootstrap.js"></script>

        <style>
            body
            {
                background-color:gray;
            }

        </style>
        <style>
            h1
            {
              text-align:center; color:chocolate;
            }


        </style>
     
        

    </head>
    <body >
      

     
                <div class="row">
         <div class="col-md-3">
             <img src="~/Images/cam1.png" />
             </div>
          <div class="col-md-7" >
              <div class="list-group"><br /><br /><br />
                  <h1 >Please Note Some Instructions</h1>
                  <p>This is a Online Shopping of Samsung Products with 10% Less. Customers can buy any product by selecting a particular product. User can selecting items in a cart and at the end this application will generate the total bill of all selected items in a cart.</p>
                  <p>Samsung Mobile Phones, Laptops ,Tablets, Cameras and TV's are available here. User can also see the descriptions of any item include in the list</p>
                  <h2>For Further Details Please Click <a href="https://www.facebook.com/ahmed.shair.908?ref=tn_tnmn" target="_blank">Here</a></h2>
              </div>
            </div>
             <div class="col-md-2">
             <img src="~/Images/cam1.png" />
             </div>
        </div>

        <br />

        </body>
    </html>
