@{
    ViewBag.Title ="login";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Samsung</title>
            <link href="bootstrap.css" rel="stylesheet" />
             <script src="bootstrap.js"></script>
        </head>
   <body >
        <nav class="navbar navbar-danger" role="navigation">

                <div class="navbar-header">
                   <a href="#" > <img src="~/Images/mono.png"/></a>
                   <a class="navbar-brand" href="#" ><strong > SAMSUNG</strong><br /> PRODUCTS</a>
              
                </div>

          </nav>
        </body>
    </html>